.botao{
    width: 180px;
    height: 55px;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    background-color: #FFDB1D;
}